.layout-header{
    background-color: #264653;
    color: orange;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.layout-footer{
    background-color: #264653;
    color: orange;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.content{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}